@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');
* {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
 
}
main {
  display: grid;
  grid-template-rows: 200px 500px;
  justify-content: center;
}

.form-container {
position: relative;
top: 30px;
left: 30px;
display: flex;
flex-direction: column;
align-items: center;
}
input {
  width: 300px;
  height: 30px;
  margin: 5px;
}
button {
  width: 80px;
  height:20px;
  margin: 5px;
}
#top{
  color: white;
  background-color: red;
}

#bottom {
  color: white;
  background-color: red;
}

.nametag-container {
  display: grid;
  grid-template-rows: 4fr 4fr 1fr;
  background-color: lightgrey;
  width: 400px;
  height: 270px;
}

section {
  background-color: white;
}

.centering {
  display: flex;
  justify-content: center;
  align-items: center;
}
#top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#bottom {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.hello, .my-name {
  font-family: 'Roboto', serif;
}

.hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5em;
  font-weight: bold;
}

.my-name {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name-area {
  font-size: 2em;
  font-family: 'MonteCarlo', fantasy;
  font-weight: bold;
}
.info {
  font-size: 2em;
}